.page, .in-app-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.in-app-page {
    margin-bottom: 80px;
}

.navbar-brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
}

.navbar-burger {
    width: auto;
    margin-left: 0px;
}

.navbar-plus {
    justify-self: center;
    position: relative;
    bottom: 20px;
    background-color: #00d1b2;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    justify-content: center;
    color: white;
    font-size: 30px;
}

#main-page {
    justify-content: space-around;
    align-items: center;
}

#login-page {
    align-items: center;
    justify-content: space-evenly;
}

#home-page, #applications-page {
    align-items: center;
}

#login-buttons, #account-buttons {
    text-align: center;
}

.fixed-size-button {
    width: 250px;
    margin: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-radius: 0;
}

#login-form, #create-account-form, #my-apps-list {
    margin: 20px;
}

#alternate-login-options, .home-page-flex-data {
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
}

.home-page-flex-data {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
}

#forgot-password {
    width: 100%;
    margin-right: 0;
}

#create-account-page {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 335px;
    padding: 11px;
    /*NEED TO EDIT TEXT SIZE AND COLOR TO MATCH REST OF FORM*/
}

.app-preview-row {
    display: flex;
    justify-content: space-between;
}

.app-preview-top-row {
    font-size: 16px;
}

.app-preview-bottom-row {
    font-size: 14px;
}

.app-preview-button {
    margin: 10px;
}