.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-page {
    justify-content: space-around;
    align-items: center;
}

#login-page {
    align-items: center;
    justify-content: space-evenly;
}

#login-buttons, #account-buttons {
    text-align: center;
}

.login-button, .account-button {
    width: 250px;
    margin: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}
.text-input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-radius: 0;
}

#login-form, #create-account-form {
    margin: 20px;
}

#alternate-login-options {
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
}

#forgot-password {
    width: 100%;
    margin-right: 0;
}

#create-account-page {
    align-items: center;
}