<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <div id="login-page" class="page">
            <p>LOGO</p>
            <div id="login-form" class="field">
                <div class="control">
                    <label class="label">USERNAME</label>
                    <input id="enter-username" class="input text-input" type="text" placeholder="Enter Username...">
                    <label class="label">PASSWORD</label>
                    <input id="enter-password" class="input text-input" type="password" placeholder="Enter Password...">
                    <a id="forgot-password">Forgot Password?</a>
                    <div class="field">
                        <div class="control flex-center">
                            <button class="fixed-size-button button is-rounded is-primary">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
            <p>Or sign in with</p>
            <div id="alternate-login-options" class="flex-buttons">
                <button class="login-button button is-rounded">Facebook</button>
                <button class="login-button button is-primary is-rounded">Google</button>
            </div>
            <p>Don't have an account? <a href="/create"><strong>Create one</strong></a></p>

        </div>
    </body>

</html>