<nav class="navbar navbar-mobile is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-brand  navbar-mobile">
        <a href="/student" class="icon mobile-icon navbar-item is-large">
            <i class="fas fa-home fa-2x"></i>
            <p class="navbar-text">Home</p>
        </a>
        <a class="icon mobile-icon navbar-item is-large">
            <i class="fas fa-briefcase fa-2x"></i>
            <p class="navbar-text">Career</p>
        </a>

        <a class="icon mobile-icon navbar-item is-large">
            <i class="fas fa-comments fa-2x"></i>
            <p class="navbar-text">Community</p>
        </a>

        <a class="icon mobile-icon navbar-item is-large">
            <i class="fas fa-user fa-2x"></i>
            <p class="navbar-text">Profile</p>
        </a>

        <div class="icon mobile-icon navbar-item navbar-burger is-large">
            <i class="fas fa-ellipsis-h fa-2x"></i>
            <p class="navbar-text">More</p>
        </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/student" class="navbar-item">Home</a>
            <a href="/student/my_applications/false/dateApplied/null" class="navbar-item">Applications</a>
            <a class="navbar-item">Events & Networking</a>
            <a class="navbar-item">Messages</a>
            <a class="navbar-item">My Profile</a>
            <a class="navbar-item">Settings</a>
            <a href="/user/logout" class="navbar-item">Log Out</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-desktop" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/student" class="navbar-item navbar-item-desktop"><img src="/images/app-buddy-wide-black.png" height="50px"
                    style="text-align:center;"></a>
            <div class="navbar-item navbar-item-desktop has-dropdown is-hoverable navbar-link">
                <a class="navbar-item-label">
                    Applications
                </a>
                <div class="navbar-dropdown">
                    <a href="/student/apps/add_application" class="navbar-item navbar-item-desktop">
                        Add an App
                    </a>
                    <a href="/student/apps/my_applications/false/dateApplied/null" class="navbar-item navbar-item-desktop">
                        View my Apps
                    </a>
                </div>
            </div>
            <div class="navbar-item navbar-item-desktop has-dropdown is-hoverable navbar-link">
                <a class="navbar-item-label">
                    Contacts
                </a>
                <div class="navbar-dropdown">
                    <a href="/student/contacts/add_contact" class="navbar-item">
                        Add a Contact
                    </a>
                    <a href="/student/contacts/my_contacts" class="navbar-item">
                        View my Contacts
                    </a>
                </div>
            </div>
            <div class="navbar-item navbar-item-desktop has-dropdown is-hoverable navbar-link">
                <a class="navbar-item-label">
                    Resources
                </a>
                <div class="navbar-dropdown">
                    <a href="/student/resources" class="navbar-item">
                        Resume Templates
                    </a>
                    <a href="https://airtable.com/shrYJtJtMJVDGjbUw/tblHBrrgfXjfleyiU" target="_blank" class="navbar-item">
                        Communication Templates
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/user/logout" class="button is-primary is-rounded">
                        <strong>Log Out</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>