.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mobile-icon {
    cursor: pointer;
}

.mobile-icon:hover {
    color: #805D93;
    background-color: #ececec;
}

.in-app-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

/* label {
    margin: 10px 0 10px 0;
} */

.max-width {
    max-width: 800px;
}

.button.is-primary {
    background-color: #017990;
    /* background-color: #97049F; */
}

.button.is-primary:hover, .button.is-primary:active {
    background-color: #00687d;
}

.button.is-primary-inverted {
    border-color: #017990;
    color: #017990;
}

.bold-text {
    font-weight: bold;
}

a {
    color: #805D93;
}

.navbar-brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ececec;
}

.navbar-burger {
    width: auto;
    margin-left: 0px;
}

.navbar-item {
    justify-self: center;
    display: flex;
    flex-direction: column;
}

a.navbar-item {
    padding: 10px;
    align-items: flex-start;
}

a.navbar-item:hover {
    color: #017990;
}

a.navbar-item-label {
    color: #4a4a4a;
}

.navbar-item-desktop {
    justify-content: center;
}

.navbar-item-label {
    padding-left: 15px;
}

.navbar-desktop {
    display: none;
    background-color: white;
    border-bottom: 1px solid #ececec;
}

/* .navbar-mobile.navbar-brand {
    background-color: white;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
} */

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #cbcbcb;
}

.navbar-dropdown {
    border-color: #C8D96F;
}

.navbar-plus {
    position: absolute;
    bottom: 80px;
    right: 6px;
    background-color: #805D93;
    border-radius: 100px;
    height: 3rem !important;
    width: 3rem !important;
    justify-content: center;
    color: white;
    /* font-size: 30px; */
    margin-bottom: 0 !important;
    z-index: -1;
}

.navbar-text {
    font-size: .8rem;
}

svg {
    /* border: 1px solid purple; */
    height: 26px !important;
}

#main-page  {
    justify-content: space-around;
    align-items: center;
}

.main-pages-background {
    background-image: url('/images/background-blue.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#login-page {
    align-items: center;
    justify-content: space-evenly;
}

#home-page, #applications-page {
    align-items: center;
}

#login-buttons, #account-buttons, .center-text, h3 {
    text-align: center;
}

h3 {
    margin: 24px;
}

.fixed-size-button {
    width: 250px;
    margin: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:focus, .input:active, .select select:focus, .select select:active, .button:focus:not(:active) {
    box-shadow: 0 0 0 0.125em #805D93;
    border-color: #dbdbdb;
}

textarea:focus-visible {
    outline-color: #805D93;
}

.text-input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #017990;
    border-radius: 0;
}

#login-form, #create-account-form, .my-list, .margin-20px {
    margin: 20px;
}

.my-list, .application-details-page-details {
    margin-right: auto;
    margin-left: auto;
}

#alternate-login-options, .home-page-flex-data {
    display: flex;
    justify-content: space-around;
}

.form-set-width, .my-list, .application-details-page-details {
    width: 90%;
    max-width: 800px;
}

.home-page-flex-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}

.alert {
    color: red;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
}

.button.yellow-solid-button, legend {
    background-color: #C8D96F;
    color: #4a4a4a;
}

.button.yellow-solid-button:hover, .button.yellow-solid-button:active {
    background-color: #b4c464;
    color: #4a4a4a;
}

.button.yellow-outline-button, .select select:hover {
    border-color: #C8D96F;
}

fieldset {
    border: 1px solid #C8D96F;
    background-color: white;
    padding: 20px;
    border-radius: 50px;

}

legend {
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
}

#forgot-password {
    width: 100%;
    margin-right: 0;
}

#create-account-page {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    font-size: 1rem;
    width: 335px;
    padding: 11px;
    border-color: #017990;
    /*NEED TO EDIT TEXT SIZE AND COLOR TO MATCH REST OF FORM*/
}

::placeholder {
    color: #c2c2c2;
}


.search-field {
    margin: 0;
}

.icon.search-icon {
    margin: 0;
}

.search-field-left {
    border-radius: 20px 0 0 20px;
}

.select select.search-field-right {
    border-radius: 0 20px 20px 0;
    border-left: none;
    background-color: transparent;
}

/* .placeholder-color {
    color: #cbcbcb !important;
} */

.job-card, .app-summary-card {
    border-radius: 10px;
    box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    position: relative;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 15px auto 15px auto;
}

.app-summary-card {
    width: 200px;
}

.job-card-header, .app-summary-header {
    background-color: #017990;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    align-items: center;
}

.app-summary-header {
    height: 37px;
    color: white;
    justify-content: center;
    font-weight: bold;
}

.title.job-card-employer {
    color: white;
    margin: 5px 5px 5px 10px;
    font-weight: bold;
}

p {
    margin: 5px;
}

h5.subtitle.is-5 {
    margin: 20px 0 0 0;
}
#filter-index-term {
    margin: 0;
}

.card-popout {
    position: absolute;
    width: 150px;
    background-color: white;
    right: 0;
    /* display: none; */
    border-radius: 10px;
    box-shadow: 0px 4px 18px -2px rgba(36, 27, 27, 0.25);
    padding-bottom: 33px;
    font-size: 14px;
    z-index: 5;
    text-align: right;
    display: none;
}

.job-card-popout {
    top: -75px;
}

.job-card-popout-rejected {
    top: -54px;
}

.ellipse-container {
    z-index: 10;
    color: white;
    padding: 5px 10px 2px 5px;
    /* background: tomato; */
}

.card-popout-link {
    color: #4a4a4a;
}

.card-popout-link:hover {
    color: #017990;
    cursor: pointer;
    /* font-weight: bold; */
}
.job-card-ellipse {

    /* padding: 5px 10px 5px 5px; */
    font-weight: bold;
    /* font-size: 18px; */
    width: 10px;
}

#sort-my-apps {
    color: #cbcbcb;
}
.color-gray {
    color: #4a4a4a;
}

.ellipse-container:hover {
    cursor: pointer;
}

.job-card-bottom, .app-summary-bottom {
    padding: 5px 15px 5px 15px;
    font-size: 14px;
}

.app-summary-bottom {
    text-align: center;
}

.rejected-button {
    border: none;
    background-color: transparent;
    color: #4a4a4a;
    font-size: 14px;
}

.app-details-row {
    display: flex;
    justify-content: space-between;
}

.app-details-top-row {
    font-size: 16px;
}

.app-details-bottom-row {
    font-size: 14px;
}

.app-details-button, .icon {
    margin: 10px;
}

.no-margin {
    margin-block-end: 0px !important;
    margin-block-start: 0px !important;
}

.application-details-page-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application-details-page-details {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: block;
    }

    .navbar-plus {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #805D93;
        border-radius: 100px;
        height: 3rem !important;
        width: 3rem !important;
        justify-content: center;
        color: white;
        /* font-size: 30px; */
        margin-bottom: 0 !important;
        z-index: -1;
    }

    .home-page-flex-data {
        flex-direction: row;
    }
}

label {
    margin-top: 20px;
}

.fixed-textarea {
    width: 100%;
    resize: vertical;
}