<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <div id="" class="main-pages-background login-page page">
            <img src="/images/app-buddy-light.png" width="275px">
            <p style="text-align:center;">by</p>
                <img src="/images/logo-large.png" width="100px" style="text-align:center;">
            <form action="/user/login" method="post" id="login-form" class="field">
                <fieldset class="control">
                    <%if (error) {%>

                    <article class="message is-danger">
                        <div class="message-body">
                          Incorrect username or password!
                        </div>
                    </article>
                    <%}%>
                    <!-- <legend>Log In</legend> -->
                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            
                            <label class="label no-margin" for="email">Email</label>

                            <input name="email" class="input text-input" type="text"
                            placeholder="Enter Email..." required>
                            <!-- <input type="search" class="yellow-outline-button button fixed-size-button search-field-left"
                                placeholder="Search for an app..." id="filter-index-term"> -->
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            <label class="label" for="password">Password</label>

                            <input name="password" class="input text-input" type="password"
                            placeholder="Enter Password..." required>
                            <!-- <input type="search" class="yellow-outline-button button fixed-size-button search-field-left"
                                placeholder="Search for an app..." id="filter-index-term"> -->
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    
                    
                      <!-- <label class="label" for="email">
                        Email
                    </label>
                    <input name="email" id="enter-username" class="input text-input" type="text"
                            placeholder="Enter Email..." required>
                    <label class="label" for="password">
                        Password
                    </label>
                    <input name="password" id="enter-password" class="input text-input" type="password"
                            placeholder="Enter Password..." required> -->

                    <a id="forgot-password" class="flex-center" >Forgot Password?</a>
                    <div class="field no-margin">
                        <div class="control flex-center">
                            <input type="submit" class="fixed-size-button button is-rounded is-primary"
                                value="Log In"></input>
                        </div>
                    </div>
                    <p>Don't have an account? <a href="/user/signup"><strong>Create one</strong></a></p>
                </fieldset>
            </form>
            <!-- <p>Or sign in with</p>
            <div id="alternate-login-options" class="flex-buttons">
                <button class="login-button button is-rounded">Facebook</button>
                <button class="login-button button is-primary is-rounded">Google</button>
            </div> -->
            
        </div>
    </body>
</html>