<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <div id="login-page" class="page main-pages-background">
            <img src="/images/app-buddy-light.png" width="275px">
            <form action="/user/login" method="post" id="login-form" class="field">
                <div class="control">
                    <label class="label">
                        EMAIL<input name="email" id="enter-username" class="input text-input" type="text"
                            placeholder="Enter Email..." required>
                    </label>
                    <label class="label">
                        PASSWORD<input name="password" id="enter-password" class="input text-input" type="password"
                            placeholder="Enter Password..." required>
                    </label>
                    <a id="forgot-password">Forgot Password?</a>
                    <div class="field">
                        <div class="control flex-center">
                            <input type="submit" class="fixed-size-button button is-rounded is-primary"
                                value="Log In"></input>
                        </div>
                    </div>
                </div>
            </form>
            <p>Or sign in with</p>
            <div id="alternate-login-options" class="flex-buttons">
                <button class="login-button button is-rounded">Facebook</button>
                <button class="login-button button is-primary is-rounded">Google</button>
            </div>
            <p>Don't have an account? <a href="/user/signup"><strong>Create one</strong></a></p>
        </div>
    </body>

</html>