<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <div id="create-account-page" class="flex-column main-pages-background login-page">
            <img src="/images/app-buddy-light.png" width="275px">
            <!-- <h4 class="subtitle is-4">Create an Account</h4> -->
            <p style="text-align:center;">by</p>
                <img src="/images/logo-large.png" width="100px" style="text-align:center;">
            <form id="create-account-form" class="field" action="/user/signup" method="post">
                <fieldset class="control">
                    <!-- <legend>Create an Account</legend> -->
                    <h5 class="subtitle is-5 center-text">Sign Up</h5>

                    <%if (error) {%>

                        <article class="message is-danger">
                            <div class="message-body">
                              User already exists!
                            </div>
                        </article>
                        <%}%>

                    <div class="field flex-center">
                        <div class="control has-icons-right search-field">
                            <label class="label no-margin" for="email">Email (This will be your username)</label>

                            <input id="set-email" name="email" class="input text-input" type="text"
                            placeholder="Enter Email..." required>
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            <label class="label" for="firstName">First Name</label>
                            <input name="firstName" class="input text-input" type="text"
                            placeholder="Enter First Name..." required>
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            <label class="label" for="lastName">Last Name</label>
                            <input name="lastName" class="input text-input" type="text"
                            placeholder="Enter Last Name..." required>
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            <label class="label" for="password">Password</label>
                            <input id="set-password" name="password" class="input text-input" type="password"
                            placeholder="Set Password..." required>
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <article class="message" id="password-validation">
                        <div class="message-body">
                            <p>Passwords must have:</p>
                            <div id="password-validation-length" class="password-validation-line">
                                <i id="password-validation-length-icon" class="fas fa-times"></i>
                                <p>At least 8 characters</p>
                            </div>
                            <div id="password-validation-uppercase"  class="password-validation-line">
                                <i id="password-validation-uppercase-icon" class="fas fa-times"></i>
                                <p>An uppercase character</p>
                            </div>
                            <div id="password-validation-lowercase"  class="password-validation-line">
                                <i id="password-validation-lowercase-icon" class="fas fa-times"></i>
                                <p>A lowercase character</p>
                            </div>
                            <div id="password-validation-number"  class="password-validation-line">
                                <i id="password-validation-number-icon" class="fas fa-times"></i>
                                <p>A number</p>
                            </div>
                        </div>
                    </article>


                    <div class="field flex-center">
                        <div class="control has-icons-right search-field ">
                            <label class="label" for="confirm-password">Confirm Password</label>
                            <input id="confirm-password" name="confirm-password" class="input text-input" type="password"
                            placeholder="Confirm Password..." required>
                            <span class="icon is-small is-right search-icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <article class="message is-danger" id="password-match-check">
                        <div class="message-body">
                            <p id="password-match-text">Passwords must match</p>
                        </div>
                    </article>
                    <a id="forgot-password" class="flex-center">Forgot Password?</a>
                    <div class="field no-margin">
                        <div id="account-buttons" class="control flex-column">
                            <input class="fixed-size-button button is-rounded is-primary" type="submit" value="Create
                            Account"></input>
                            <a href="/" class="fixed-size-button button is-rounded is-primary-inverted">Cancel</a>
                        </div>
                    </div>

                    <p class="flex-center">Already have an account? <a href="/user/login"><strong>&nbsp;Sign in</strong></a></p>
                </fieldset>
            </form>           
        </div>

    </body>

</html>