<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <div id="create-account-page" class="flex-column main-pages-background">
            <img src="/images/app-buddy-light.png" width="275px">
            <!-- <h4 class="subtitle is-4">Create an Account</h4> -->
            <p style="text-align:center;">by</p>
                <img src="/images/logo-large.png" width="100px" style="text-align:center;">
            <form id="create-account-form" class="field" action="/user/signup" method="post">
                <fieldset class="control">
                    <legend>Create an Account</legend>
                    <label class="label">EMAIL (This will be your username)<input id="set-username"
                            class="input text-input" type="text" placeholder="Enter Email..." name="email" required>
                    </label>
                    <label class="label">FIRST NAME<input id="set-first-name" class="input text-input" type="text"
                            placeholder="Enter First Name..." name="firstName" required>
                    </label>
                    <label class="label">LAST NAME<input id="set-last-name" class="input text-input" type="text"
                            placeholder="Enter Last Name..." name="lastName" required>
                    </label>
                    <label class="label">PASSWORD<input id="set-password" class="input text-input" type="password"
                            placeholder="Enter Password..." name="password" required>
                    </label>
                    <label class="label">CONFIRM PASSWORD<input id="confirm-password" class="input text-input"
                            type="password" placeholder="Enter Password..." name="confirm-password" required>
                    </label>
                    <a id="forgot-password">Forgot Password?</a>
                    <div class="field">
                        <div id="account-buttons" class="control">
                            <input class="fixed-size-button button is-rounded is-primary" type="submit" value="Create
                            Account"></input>
                            <a href="/" class="fixed-size-button button is-rounded is-primary-inverted">Cancel</a>
                        </div>
                    </div>

                    <p class="flex-center">Already have an account? <a href="/user/login"><strong>&nbsp;Sign in</strong></a></p>

                </fieldset>
            </form>
            
        </div>
    </body>

</html>