<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs'); %>


    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div id="add-application-page" class="in-app-page flex-center">
                <h3 class="title is-3">Add a Contact</h3>
                <form action="/student/contacts/add_contact" method="post"
                    class="field form-set-width">
                    <div class="control">
                        <label class="label">
                            First Name
                            <input name="firstName" class="input text-input" type="text" placeholder="Enter First Name...">
                        </label>
                        <label class="label">
                            Last Name
                            <input name="lastName" class="input text-input" type="text"
                                placeholder="Enter Last Name...">
                        </label>
                        <label class="label">
                            Email
                            <input name="email" class="input text-input" type="text" placeholder="Enter Email...">
                        </label>
                        <label class="label">
                            Phone
                            <input name="phone" class="input text-input" type="text" placeholder="Enter Phone Number...">
                        </label>
                        <label class="label">
                            Employer
                            <input name="employer" class="input text-input" type="text" placeholder="Enter Employer...">
                        </label>
                        <%
                        const today=new Date();

                        const month = today.getMonth() + 1 > 9 ? today.getMonth() + 1 : "0" + (today.getMonth() + 1);

                        const day = today.getDate()> 9 ? today.getDate() : "0" + today.getDate();
                        
                        const date=`${today.getFullYear()}-${month}-${day}`%>

                        <label class="label">
                            Last Contacted
                            <input name="latestContact" class="input text-input" type="date" value="<%=date%>">
                        </label>
                        <label class="label">
                            Notes
                            <textarea name="notes" class="fixed-textarea" id="additional-job-notes-form"
                                placeholder="Enter Additional Notes..."></textarea>
                        </label>
                        <div class="field">
                            <div class="control flex-column">
                                <input type="submit" class="fixed-size-button button is-rounded is-primary"></input>
                            </div>
                        </div>
                    </div>
                </form>
                <a href="/student">
                    <button class="fixed-size-button button is-rounded">Cancel</button>
                </a>
            </div>
    </body>

</html>