<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs'); %>


    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div id="add-application-page" class="in-app-page flex-center">
                <h3 class="title is-3">Add an Application</h3>
                <form action="/student/apps/add_application" method="post"
                    class="field form-set-width">
                    <div class="control">
                        <label class="label">
                            Job Title
                            <input name="title" class="input text-input" type="text" placeholder="Enter Job Title..."
                                required>
                        </label>
                        <label class="label">
                            Company
                            <input name="employer" class="input text-input" type="text"
                                placeholder="Enter Company Name..." required>
                        </label>
                        <label class="label">
                            Date Applied
                            <input name="appDate" class="input text-input" type="date" placeholder=""
                                required>
                        </label>
                        <label class="label">
                            Status
                            <select name="status">
                                <option>Applied - No Response</option>
                                <option>Applied - Under Consideration</option>
                                <option>Interviewing</option>
                                <option>Rejected</option>
                            </select>
                        </label>
                        <label class="label">
                            Job Description
                            <textarea name="jobDescription" class="fixed-textarea" id="job-description-form"
                                placeholder="Paste Job Description..." required></textarea>
                        </label>
                        <label class="label">
                            Additional Notes
                            <textarea name="notes" class="fixed-textarea" id="additional-job-notes-form"
                                placeholder="Enter Additional Notes..."></textarea>
                        </label>
                        <div class="field">
                            <div class="control flex-column">
                                <input type="submit" class="fixed-size-button button is-rounded is-primary"></input>

                            </div>
                        </div>
                    </div>
                </form>
                <a href="/student/apps/my_applications/false/dateApplied/null">
                    <button class="fixed-size-button button is-rounded">Cancel</button>
                </a>
            </div>
    </body>

</html>