<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="home-page" class="in-app-page">
                <h3 class="title is-3">Resume Templates</h3>
                
                <div class="flex-wrap flex-center">
                    <a href="https://docs.google.com/document/d/1r4bb7JgHwpTf9kcsz6Zk2WGg6shnlxAy4Gb-8xULNvc/edit?usp=sharing" target="_blank" class="resume-template flex-center">
                        <img class="resume-img" src="/images/resume-samples/resume-sample-1.png">
                    </a>
                    <a href="https://docs.google.com/document/d/1ycaNLjyjJHEcKwaFUTi693egQYg1w79JWrJrPuc_xnQ/edit?usp=sharing" target="_blank" class="resume-template flex-center">
                        <img class="resume-img" src="/images/resume-samples/resume-sample-2.png">
                    </a>
                    <a href="https://docs.google.com/document/d/1153mSU6RZ171R5hzHs7ZUQS2I_GB1vNEDVeA6g9dPvs/edit?usp=sharing" target="_blank" class="resume-template flex-center">
                        <img class="resume-img" src="/images/resume-samples/resume-sample-3.png">
                    </a>
                </div>
            </div>
    </body>

</html>