<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="home-page" class="in-app-page">
                <h3 class="title is-3">My Job Tracker</h3>
                <div class="control flex-column">
                    <a href="">
                        <button class="button is-rounded is-primary">Complete Weekly Check-In</button>
                    </a>
                    <br>
                    <a href="/student/add_application">
                        <button class="button is-rounded is-primary">Record New Application</button>
                    </a>
                    <br>
                    <a href="/student/my_applications">
                        <button class="button is-rounded is-primary">View My Applications</button>
                    </a>
                </div>
                <div class="home-page-flex-data">
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Applications</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>##</p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>
                                <%=apps.length%>
                            </p>
                        </div>
                    </div>
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Interviews</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>##</p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>##</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>