<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="home-page" class="in-app-page">
                <h3 class="title is-3">My Job Tracker</h3>
                <div class="control flex-column">
                    <a href="">
                        <button class="fixed-size-button button is-rounded is-primary">Complete Weekly Check-In</button>
                    </a>
                    <a href="/student/add_application">
                        <button class="fixed-size-button button is-rounded is-primary">Record New Application</button>
                    </a>
                    <a href="/student/my_applications">
                        <button class="fixed-size-button button is-rounded is-primary">View My Applications</button>
                    </a>
                </div>
                <div class="home-page-flex-data max-width">
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Applications</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>
                                <%
                                    let weeklyApps = 0;
                                    let today= new Date();
                                    let newDate = Date.now();
                                    let offset = today.getTimezoneOffset() * 60;
                                    console.log('offset', offset);
                                    console.log('today', today);
                                    console.log('newDate', newDate);

                                    console.log((today - offset));
                                    console.log(newDate - offset)

                                    let blurb = today - offset;
                                    let blub = newDate - offset;
                                    console.log(new Date(newDate));
                                    console.log(new Date(blub));
                                    console.log(new Date(blurb));
                                    //the following line shows time in local time
                                    console.log(new Date(blurb).toString());
                                    console.log(new Date(blurb).toDateString());

                                %>
                            </p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>
                                <%=apps.length%>
                            </p>
                        </div>
                    </div>
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Interviews</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>##</p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>##</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>