<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="home-page" class="in-app-page">
                <h3 class="title is-3">My Job Tracker</h3>
                <div class="control flex-column">
                    <a href="">
                        <button class="fixed-size-button button is-rounded is-primary yellow-solid-button">Complete Weekly Check-In</button>
                    </a>
                    <a href="/student/add_application">
                        <button class="fixed-size-button button is-rounded is-primary yellow-solid-button">Record New Application</button>
                    </a>
                    <a href="/student/my_applications/false/dateApplied/null">
                        <button class="fixed-size-button button is-rounded is-primary yellow-solid-button">View My Applications</button>
                    </a>
                </div>
                <div class="home-page-flex-data max-width">

                    <div class="app-summary-card">
                        <div class="app-summary-header">Applications
                        </div>
                        <div class="app-summary-bottom">
                                <p><b>This week: </b></p>
                                <p>
                                    <% let weeklyApps = 0;
                                const today = new Date();
                                for (app of apps) { 
                                    //there are 604800000 ms per week. caclculate how many ms between now and app submission
                                    if (today - app.dateApplied > 0 && today - app.dateApplied <= 604800000) {
                                        weeklyApps++;
                                    }
                                }
                                    %>
                                    <%=weeklyApps%>
                                </p>
                                
                                <p>
                                    <b>Total:</b></p>
                                    <p>
                                    <%=apps.length%>
                                </p>
                            </div>
                    </div>
                    <div class="app-summary-card">
                        <div class="app-summary-header">Interviews
                        </div>
                        <div class="app-summary-bottom">
                                <p><b>This week: </b></p>
                                <p>
                                    ##
                                </p>
                                
                                <p>
                                    <b>Total:</b></p>
                                    <p>
                                    ##
                                </p>
                            </div>
                    </div>
                </div>
            </div>
    </body>

</html>