<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>


    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="add-application-page" class="in-app-page flex-center">
                <h3 class="title is-3">Add an Application</h3>
                <form id="create-account-form" class="field form-set-width">
                    <div class="control">
                        <label class="label">
                            JOB TITLE
                            <input class="input text-input" type="text" placeholder="Enter Job Title..." required>
                        </label>
                        <label class="label">
                            COMPANY
                            <input class="input text-input" type="password" placeholder="Enter Company Name..."
                                required>
                        </label>
                        <label class="label">
                            DATE APPLIED
                            <input class="input text-input" type="date" placeholder="Select Date..." required>
                        </label>
                        <label class="label">
                            JOB DESCRIPTION
                            <textarea class="fixed-textarea" id="job-description-form"
                                placeholder="Paste Job Description..." required></textarea>
                        </label>
                        <label class="label">
                            ADDITIONAL NOTES
                            <textarea class="fixed-textarea" id="additional-job-notes-form"
                                placeholder="Enter Additional Notes..." required></textarea>
                        </label>
                        <div class="field">
                            <div class="control flex-column">
                                <button class="fixed-size-button button is-rounded is-primary">Submit</button>
                                <button class="fixed-size-button button is-rounded">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </body>

</html>