<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>


    <body>
        <%- include('../partials/navbar.ejs') %>
            <div id="home-page" class="in-app-page">
                <p>LOGO</p>
                <div class="control">
                    <button class="button is-rounded is-primary">Complete Weekly Check-In</button>
                </div>
                <div class="home-page-flex-data">
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Applications</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>##</p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>##</p>
                        </div>
                    </div>
                    <div class="home-page-app-data-box">
                        <h5 class="subtitle is-5">Interviews</h5>
                        <div class="flex-column">
                            <p>This week</p>
                            <p>##</p>
                        </div>
                        <div class="flex-column">
                            <p>Total</p>
                            <p>##</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>